@font-face {
   font-family: 'Pragmatica-ExtraLight';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-11_014119/fonts/Pragmatica-ExtraLight/font.ttf');
}
